<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link href="./css/styles.css" rel="stylesheet" />
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="../img/me.jpg" class="" />
        <p class="text-muted">Developed by <em>{{authorAlias}}</em>.
        </p>
    </div>
    {{>footer}}
</body>

</html>
