<footer>
    <p>Developed by {{name}}.<br />
        <small class="text-muted">Powered by data from <a href="https://mapbox.com" target="_blank">mapbox.com</a> and
            <a href="https://darksky.net" target="_blank">darksky.net</a> using <a
                href="https://www.npmjs.com/package/hbs" target="_blank">handlebars</a>
            templating engine.</small>
    </p>
</footer>
