<form action="/weather" method="POST" class="form-control">
    <div class="form-group">
        <input type="text" id="address" name="address" placeholder="Location" class="form-control" />
        <input type="submit" value="Search" />
    </div>
</form>
